.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tabs a {
  margin: 0 15px;
  text-decoration: none;
  color: #02171d;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

.tabs a:hover {
  background-color: #d0d0d0;
}

.active-tab {
  font-weight: bold;
  color: #041e2e;
  background-color: #007bff;
  color: white;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Space between the cards */
}

.card {
  flex: 1;
  min-width: 100px;
  max-width: 200px; /* Maximum width for each card */
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  text-align: center;
  margin: 10px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* Slightly raise the card on hover */
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.card p {
  font-size: 16px;
}
